section{
    padding: 100px 6%;
}


.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.home .text{
    width: 350px;
}
.home .text h1{
    font-size: 18px;
    font-weight: 500;
    color: #1DA1F2;
    margin-bottom: 20px;
}
.home .text h2{
    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}
.home .text p{
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.btn a{
    padding: 10px 40px;
    border-radius: 30px;
    border-bottom: 2px solid #1DA1F2;
    border-right: 2px solid #FF0000;
    border-top: 2px solid #0E76A8;
    border-left: 2px solid #C13584;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s;
    text-decoration: none;
}
.btn a:hover{
    padding: 10px 60px;
}
.home .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    position: relative;
}
.home .img::before{
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid green;
    border-radius: 50%;
    animation: effect 1.5s linear infinite;
}
.home .img::after{
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid green;
    border-radius: 50%;
    animation: effect 1.5s linear infinite;
    animation-delay: 0.4s;
}
@keyframes effect{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.4);
        opacity: 0;
    }
}
@media (max-width: 500px){
    .home .img{
        margin-top: 50px;
    } 
}
.home .img img{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 50%;
}
.socil-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 30px;
    transition: ease .3s;
}
.socil-links .twitter{
    color: #1DA1F2;
    border: 2px solid #1DA1F2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    animation: twitter;
}
.socil-links .twitter:hover{
    background-color: #1DA1F2;
    color: #fff;
}
.socil-links .linkedin{
    color: #0E76A8;
    border: 2px solid #0E76A8;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    animation: linkedin;
}
.socil-links .linkedin:hover{
    background-color: #0E76A8;
    color: #fff;
}
.socil-links .instagram{
    color: #C13584;
    border: 2px solid #C13584;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
}
.socil-links .instagram:hover{
    background-color: #C13584;
    color: #fff;
}
.socil-links .youtube{
    color: #FF0000;
    border: 2px solid #FF0000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;

}
.socil-links .youtube:hover{
    background-color: #FF0000;
    color: #fff;
}
.socil-links .github{
    color: #171515;
    border: 2px solid #171515;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
}
.socil-links .github:hover{
    background-color: #171515;
    color: #fff;
}
